<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Workflow</title>
</head>
<body>
    
    <h1>Generando Template Webpack</h1>

    <img src="static/image.jpg" alt="imagen">

    <script src="app.js"></script>
</body>
</html>